<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Open API</h1>
    <p>Posts API:</p>
   <a href="{% url 'post-api' %}">https://alapakam-open-api.herokuapp.com/api/posts/</a>
   <br>
   <a href="{% url 'post-details' id=50 %}">https://alapakam-open-api.herokuapp.com/api/post/50/</a>
    <p>Users API:</p>
    <a href="{% url 'user-api' %}">https://alapakam-open-api.herokuapp.com/api/users/</a>
</body>
</html>